body {
  background: #1F2227;
  font-family: "Helvetica", sans-serif;
}

.flexdiv {
  background: #1F2227;

  /* display: flex;
  flex-wrap: wrap;
  position: absolute; */
  color: white;
}

.colorretate {
  animation-name: colorretate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes colorretate {
  0% {
    color: #ee6055;
  }

  25% {
    color: #60d394;
  }

  50% {
    color: #aaf683;
  }

  75% {
    color: #ffd97d;
  }

  100% {
    color: #ff9b85;
  }
}

.first {
  width: 10px;
}

.none {
  color: #2CA198;
}

.white {
  color: white;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.warning {
  background: #600;
}

.commented {
  color: #5c6370;
}

.see-vertical-bar {
  color: #42b37e;
}

.single-qoute {
  color: #FFFF00;
}

.double-qoute {
  color: #FF8000;
}

/* toggle switch */
.toggle[type=checkbox] {
  appearance: none;
  cursor: pointer;
}

.toggle[type=checkbox]:focus {
  outline: 0;
}

.toggle {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all 0.2s ease;
}

.input {
  width: 80px;
}

.bold {
  font-size: 12px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
}

.toggle::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle:checked {
  border-color: #654FEC;
}

.toggle:checked::after {
  transform: translateX(20px);
}

/* on off display */
.test .notification::before {
  content: "off";
  font-size: 20px;
}

.test .toggle:checked~.notification::before {
  content: "on";
}

.test .notification {
  font-size: 20px;
  width: 100%;
}

/* table */
.tet {
  color: black;
}

.thing {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
}
